* {
	font-family: 'Josefin Slab', serif;
	letter-spacing: 5px;
}

.intro-container {
	background-image: url(./images/frankandchelle/top-bg.png);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: left;
	text-align: center;
}

.body {
	background-color: black;
}

.container {
	background-color: black;
}

img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 15px;
	align-content: center;
	box-shadow: 1.5px 1.5px gold;
}

h1 {
	color: gold;
	text-align: center;
	letter-spacing: 20px;
	padding: 20px;
}

p {
	color: gold;
	text-align: center;
	letter-spacing: 0.5px;
	padding: 10px 10px;
}

.friendsandfam {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 19px;
}

.fooddescription {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 16px;
}

.frankandchelle {
	font-family: 'Give You Glory', cursive;
	font-size: 19px;
}

#friends-family {
	font-size: 55px;
}

#food {
	font-size: 55px;
	letter-spacing: 0px;
}

#frank-michelle {
	font-size: 55px;
	letter-spacing: 1px;
	font-family: 'Mr De Haviland', cursive;
}

@media screen and (max-width: 520px) {
	.intro-container {
		max-height: 320px;
		background-size: cover;
		justify-content: center;
	}
	#friends-family {
		font-size: 40px;
	}
}
